.header {
    width: 100%;
    background-color: #131921;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    z-index: 99;
}
.search {
    width: 280px;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    flex: 1;
    margin: 3px;
}
.search > input {
    height: 38px;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex: 1;
}
.search > .icon {
    background-color: #cd9042;
    height: 38px;
    width: 38px;
    padding: 5px;
    box-sizing: border-box;
}
.logo {
    width: 110px;
    margin: 10px 0 0 22px;
    object-fit: contain;
}
.header__nav {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__nav > .header__link {
    text-decoration: none;
}
.header__nav > .header__link > .header__option:hover {
    outline: solid 0.1rem #cd9042;
    border-radius: 3px;
}
.header__nav .header__option {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.header__nav .header__option > span:nth-child(1) {
    font-size: 0.73rem;
    color: #a5a5a5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header__nav .header__option > span:nth-child(2) {
    color: #fff;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.cart{
    padding: 3px;
    position: relative;
}
.cart > span:nth-child(1) > svg {
    font-size: 3.2rem;
    color: #fff;
}
.cart > span > span {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(73, 62, 10);
    transform: translateX(-50%);
}
