body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: #f1f4f5;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home {
  width: 100%;
  max-width: 1360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home > img {
  width: 100%;
  margin: auto;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  position: relative;
  margin-bottom: -150px;
}
@media only screen and (max-width: 550px) {
  .home > img {
    margin-bottom: -100px;
  }
}

.home > .home__top {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.home__middle, .home__bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2px auto;
}
@media only screen and (max-width: 450px) {
  .home__top, .home__middle, .home__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .home {
    width: 98%;
    margin: auto;
  }
  .product {
    margin: 0;
    padding: 10px;
  }
}
.product {
  margin: 8px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
  z-index: 1;
  padding: 20px;
  width: 100%;
  height: auto;
  max-height: 450px;
  align-items: flex-start;
  box-sizing: border-box;

}
.product > img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
  margin: auto;
}
.product__price {
  margin-top: 5px;
  position: relative;
}
.product > button {
  background-color: #cd9042;
  border: none;

  margin: 20px auto 10px auto;
  padding: 5px 12px;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 200px;
}

